DATABASE_URL=postgresql://<user>:<pass>@<ip-host>:<port>/<db-name>
FLASK_APP=src/app.py
FLASK_DEBUG=True
SECRET_KEY=change_this_secret

JWT_SECRET_KEY=change_this_secret
JWT_TIME_DELTA=15

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=tu-email@gmail.com
MAIL_PASSWORD=tu-app-password-de-gmail
MAIL_DEFAULT_SENDER=tu-email@gmail.com

FRONTEND_URL=http://localhost:5173

GOOGLE_CLIENT_ID=tu-client-id.apps.googleusercontent.com