.cart-page {
  min-height: 100vh;

  padding: 140px 80px;

  background-color: #f7f7f7;
}

.cart-header {
  text-align: center;

  margin-bottom: 60px;
}

.cart-header h1 {
  font-size: 58px;

  margin-bottom: 20px;

  color: #1f1f1f;
}

.cart-header p {
  font-size: 20px;

  color: #666;
}

/* EMPTY */

.empty-cart {
  background-color: white;

  padding: 60px;

  border-radius: 30px;

  text-align: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

/* PRODUCTS */

.cart-products {
  display: flex;

  flex-direction: column;

  gap: 25px;

  margin-bottom: 50px;
}

.cart-card {
  background-color: white;

  border-radius: 25px;

  padding: 25px 35px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 25px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.cart-card img {
  width: 120px;

  height: 120px;

  object-fit: contain;
}

.cart-info {
  flex: 1;
}

.cart-info h3 {
  font-size: 26px;

  margin-bottom: 10px;

  color: #1f1f1f;
}

.cart-info p {
  font-size: 18px;

  color: #666;
}

.cart-card strong {
  font-size: 28px;

  color: #2e7d32;
}

.cart-card button {
  border: none;

  background-color: #ffebee;

  color: #d32f2f;

  padding: 14px 20px;

  border-radius: 14px;

  cursor: pointer;

  font-size: 16px;

  transition: 0.3s;
}

.cart-card button:hover {
  background-color: #ffcdd2;
}

/* TOTAL */

.cart-total {
  background-color: white;

  padding: 40px;

  border-radius: 30px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.cart-total h2 {
  font-size: 34px;

  color: #1f1f1f;
}

.cart-total strong {
  font-size: 42px;

  color: #2e7d32;
}