* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f7f9f7;
  color: #222;
}

h1,
h2,
h3,
.hero-title,
.section-title {
  font-family: 'Sora', sans-serif;
}